{% extends "base.html" %}
{% block title %}{{ expense.expense_code }}{% endblock %}
{% block page_title %}Expense: {{ expense.expense_code }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-end mb-4">
    <a href="{% url 'expense_edit' expense.pk %}" class="btn btn-sm btn-outline-primary me-2"><i class="bi bi-pencil"></i> Edit</a>
    <a href="{% url 'expense_list' %}" class="btn btn-sm btn-secondary"><i class="bi bi-arrow-left"></i> Back</a>
</div>

<div class="row"><div class="col-lg-8">
    <div class="card">
        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-4">Date</dt><dd class="col-sm-8">{{ expense.expense_date|date:"M d, Y" }}</dd>
                <dt class="col-sm-4">Amount</dt><dd class="col-sm-8"><strong class="text-danger">${{ expense.amount|floatformat:2 }}</strong></dd>
                <dt class="col-sm-4">Category</dt><dd class="col-sm-8">{{ expense.get_category_display }}</dd>
                <dt class="col-sm-4">Description</dt><dd class="col-sm-8">{{ expense.description }}</dd>
                <dt class="col-sm-4">Vendor</dt><dd class="col-sm-8">{{ expense.vendor|default:"-" }}</dd>
                <dt class="col-sm-4">Reference</dt><dd class="col-sm-8">{{ expense.reference|default:"-" }}</dd>
                {% if expense.notes %}
                <dt class="col-sm-4">Notes</dt><dd class="col-sm-8">{{ expense.notes|linebreaksbr }}</dd>
                {% endif %}
            </dl>
        </div>
    </div>
</div></div>
{% endblock %}
